<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="/error.css">
</head>
<body>

    <div class="error-container">
        <h1>Oops! Something Went Wrong</h1>
        
        <p>We encountered an unexpected error. Don't worry, our team is on it!</p>

        <p>Meanwhile, you can go back to <a href="http://localhost:3000/posts"> Homepage</a>.</p>
    </div>

</body>
</html>
