<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
    <link rel ="stylesheet" href="/new.css">
</head>
<body>
    <div>
        <h3>Write New Chat</h3>  

        <form method = "Post" action = "/chats">
            <input placeholder= "Sender" name= "from"/>
            <br><br>
            <textarea name= "msg"></textarea>
            <input placeholder=" Reciever" name="to"/>
            <button>New Chat</button>
        </form>
    </div>
    
    
</body>
</html>